<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px 6px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        font-size: 12px;
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }
	.st-orange {
        background-color: orange;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 10px;
    }

    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat.lg .name {
        font-size: 16px;
    }

    .stat-col .progress {
        height: 2px;
    }

    .stat-col .progress-bar {
        line-height: 2px;
        height: 2px;
    }

    .item {
        padding: 30px 0;
    }
</style>

<div class="panel panel-default panel-intro">
   <!--<div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>
        </ul>
    </div>
    -->
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">

                <div class="row">
                    <div class="col-sm-2 col-xs-6 {if !$no_check_num}hide{/if}">
                        <div class="sm-st clearfix">
                            <a href="article/index?is_del=0&is_check=0&is_final_check=0" class="{:$auth->check('article/index')?'':'hide'}"><span class="sm-st-icon st-red"><i class="fa fa-newspaper-o"></i></span></a>
                            <div class="sm-st-info">
                                <span><a href="article/index?is_del=0&is_check=0&is_final_check=0" class="{:$auth->check('article/index')?'':'hide'}">{$no_check_num}</a></span>
                                {:__('No_Check_Num')}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6 {if !$no_final_check_num}hide{/if}">
                        <div class="sm-st clearfix">
                            <a href="article/index?is_del=0&is_check=1&is_final_check=0" class="{:$auth->check('article/index')?'':'hide'}"><span class="sm-st-icon st-red"><i class="fa fa-newspaper-o"></i></span></a>
                            <div class="sm-st-info">
                                <span><a href="article/index?is_del=0&is_check=1&is_final_check=0" class="{:$auth->check('article/index')?'':'hide'}">{$no_final_check_num}</a></span>
                                {:__('No_Final_Check_Num')}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-2 col-xs-6 {if !$no_pass_num}hide{/if}">
                        <div class="sm-st clearfix">
                            <a href="article/index?is_del=0&is_check=2&is_final_check=0" class="{:$auth->check('article/index')?'':'hide'}"><span class="sm-st-icon st-red"><i class="fa fa-newspaper-o"></i></span></a>
                            <div class="sm-st-info">
                                <span><a href="article/index?is_del=0&is_check=2&is_final_check=0" class="{:$auth->check('article/index')?'':'hide'}">{$no_pass_num}</a></span>
                                {:__('No_Pass_Num')}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6 {if !$no_final_pass_num}hide{/if}">
                        <div class="sm-st clearfix">
                            <a href="article/index?is_del=0&is_check=1&is_final_check=2" class="{:$auth->check('article/index')?'':'hide'}"><span class="sm-st-icon st-red"><i class="fa fa-newspaper-o"></i></span></a>
                            <div class="sm-st-info">
                                <span><a href="article/index?is_del=0&is_check=1&is_final_check=2" class="{:$auth->check('article/index')?'':'hide'}">{$no_final_pass_num}</a></span>
                                {:__('No_Final_Pass_Num')}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6 {if !$no_check_activity_num}hide{/if}">
                        <div class="sm-st clearfix">
                            <a href="activity/index?is_check=0" class="{:$auth->check('activity/index')?'':'hide'}"><span class="sm-st-icon st-blue"><i class="fa fa-newspaper-o"></i></span></a>
                            <div class="sm-st-info">
                                <span><a href="activity/index?is_check=0" class="{:$auth->check('activity/index')?'':'hide'}">{$no_check_activity_num}</a></span>
                                {:__('No_Check_Activity_Num')}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6 {if !$no_pass_activity_num}hide{/if}">
                        <div class="sm-st clearfix">
                            <a href="activity/index?is_check=2" class="{:$auth->check('activity/index')?'':'hide'}"><span class="sm-st-icon st-blue"><i class="fa fa-newspaper-o"></i></span></a>
                            <div class="sm-st-info">
                                <span><a href="activity/index?is_check=2" class="{:$auth->check('activity/index')?'':'hide'}">{$no_pass_activity_num}</a></span>
                                {:__('No_Pass_Activity_Num')}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-2 col-xs-6 {if !$no_check_volunteer_num}hide{/if}">
                        <div class="sm-st clearfix">
                            <a href="volunteer/index?is_check=0" class="{:$auth->check('volunteer/index')?'':'hide'}"><span class="sm-st-icon st-orange"><i class="fa fa-user-o"></i></span></a>
                            <div class="sm-st-info">
                                <span><a href="volunteer/index?is_check=0" class="{:$auth->check('volunteer/index')?'':'hide'}">{$no_check_volunteer_num}</a></span>
                                {:__('No_Check_Volunteer')}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-sm-2 col-xs-6 {if !$no_check_volunteergroup_num}hide{/if}">
                        <div class="sm-st clearfix">
                            <a href="volunteer_group/index?is_check=0" class="{:$auth->check('volunteergroup/index')?'':'hide'}"><span class="sm-st-icon st-violet"><i class="fa fa-object-group"></i></span></a>
                            <div class="sm-st-info">
                                <span><a href="volunteer_group/index?is_check=0" class="{:$auth->check('volunteergroup/index')?'':'hide'}">{$no_check_volunteergroup_num}</a></span>
                                {:__('No_Check_VolunteerGroup')}
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div id="echart" style="height:200px;width:100%;"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card sameheight-item stats">
                            <div class="card-block">
                                <div class="row row-sm stats-container">
                                    <div class="col-xs-6 stat-col">
                                        <div class="stat-icon"><i class="fa fa-rocket"></i></div>
                                        <div class="stat">
                                            <div class="value"> {$todayVisit}</div>
                                            <div class="name"> {:__('TodayVisit')}</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 stat-col">
                                        <div class="stat-icon"><i class="fa fa-heart"></i></div>
                                        <div class="stat">
                                            <div class="value"> {$todayLikes}</div>
                                            <div class="name"> {:__('TodayLikes')}</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6  stat-col">
                                        <div class="stat-icon"><i class="fa fa-line-chart"></i></div>
                                        <div class="stat">
                                            <div class="value"> {$sevenMenus}</div>
                                            <div class="name"> {:__('SevenMenus')}</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6  stat-col">
                                        <div class="stat-icon"><i class="fa fa-users"></i></div>
                                        <div class="stat">
                                            <div class="value"> {$sevenActivityJoin}</div>
                                            <div class="name"> {:__('SevenActivityJoin')}</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6  stat-col">
                                        <div class="stat-icon"><i class="fa fa-list-alt"></i></div>
                                        <div class="stat">
                                            <div class="value"> {$visit}</div>
                                            <div class="name"> {:__('Visits')}</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 stat-col">
                                        <div class="stat-icon"><i class="fa fa-hourglass-half"></i></div>
                                        <div class="stat">
                                            <div class="value"> {$visitTime}h</div>
                                            <div class="name"> {:__('VisitsTime')}</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:15px;">

                    <div class="col-lg-12">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-blue">
                            <div class="panel-body">
                                <div class="panel-title">
                                    <span class="label label-success pull-right">{:__('Real time')}</span>
                                    <h5>{:__('Article_Count')}</h5>
                                </div>
                                <div class="panel-content">
                                    <h1 class="no-margins">{$article_count}</h1>
                                    <div style="float:left;margin:0 120px 10px 0" class="stat-percent font-bold text-gray"><i class="fa fa-eye"></i> {$article_click_count}</div>
                                    <div class="stat-percent font-bold text-gray"><i class="fa fa-heart"></i> {$article_like_count}</div>
                                    <small>{:__('Category count tips')}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-aqua-gradient">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right">{:__('Real time')}</span>
                                    <h5>{:__('Activity_Count')}</h5>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">{$activity_count}</h1>
                                    <div class="stat-percent font-bold text-gray"><i class="fa fa-heart"></i> {$activity_like_count}</div>
                                    <small>{:__('Attachment count tips')}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-purple-gradient">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right">{:__('Real time')}</span>
                                    <h5>{:__('Volunteer_Count')}</h5>
                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h1 class="no-margins">{$volunteer_count}</h1>
                                            <div class="font-bold"><i class="fa fa-commenting"></i>
                                                <small>{:__('Volunteer_Count')}</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h1 class="no-margins">{$volunteer_jobtime_count}<span style="margin-left:5px;font-size:14px">h</span></h1>
                                            <div class="font-bold"><i class="fa fa-heart"></i>
                                                <small>{:__('Volunteer_Jobtime_Count')}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-green-gradient">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right">{:__('Real time')}</span>
                                    <h5>{:__('VolunteerGroup_Count')}</h5>
                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h1 class="no-margins">{$volunteergroup_count}</h1>
                                            <div class="font-bold"><i class="fa fa-commenting"></i>
                                                <small>{:__('VolunteerGroup_Count')}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">{:__('Recent news')}</h3>

                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    {volist name="artileList" id="vo"}
                                    <li class="item">
                                        <div class="product-img">
                                            <img src="{$vo.img}" style="height:40px;width:40px;">
                                        </div>
                                        <div class="product-info">
                                                {$vo.title}
                                                <span class="label label-success pull-right">{$vo.add_time|date="Y-m-d",###}</span>
                                            <span class="product-description">
                                              {$vo.brief}
                                            </span>
                                        </div>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">{:__('VisitLog')}</h3>

                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body">
                                <ul class="nav nav-pills nav-stacked">
                                {volist name="visitLog" id="vo"}
                                <li><a href="javascript:void(0);">{$vo.device}&nbsp;&nbsp;{$vo.ip}&nbsp;&nbsp;&nbsp;&nbsp;{$vo.subject}<span class="pull-right text-red"> {$vo.add_time|date="Y-m-d",###}</span></a></li>
                                {/volist}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box box-info">
                            <div class="box-header"><h3 class="box-title">{:__('Server info')}</h3></div>
                            <div class="box-body" style="padding-top:0;">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td width="140">{:__('FastAdmin version')}</td>
                                        <td>{$Think.config.fastadmin.version} <a href="javascript:;" class="btn btn-xs btn-checkversion">检查最新版</a></td>
                                    </tr>
                                    <tr>
                                        <td>{:__('FastAdmin addon version')}</td>
                                        <td>{$addonversion}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Thinkphp version')}</td>
                                        <td>{:THINK_VERSION}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Sapi name')}</td>
                                        <td>{:php_sapi_name()}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Debug mode')}</td>
                                        <td>{$Think.config.app_debug?__('Yes'):__('No')}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Software')}</td>
                                        <td>{$Think.server.SERVER_SOFTWARE}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Upload mode')}</td>
                                        <td>{$uploadmode}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Upload url')}</td>
                                        <td>{$config.upload.uploadurl}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Upload Cdn url')}</td>
                                        <td>{$config.upload.cdnurl}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Timezone')}</td>
                                        <td>{:date_default_timezone_get()}</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Cdn url')}</td>
                                        <td>__CDN__</td>
                                    </tr>
                                    <tr>
                                        <td>{:__('Language')}</td>
                                        <td>{$config.language}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>
    var Visitdata = {
        column: {:json_encode(array_keys($visitlist))},
        vdata: {:json_encode(array_values($visitlist))},
    };
</script>