<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span>{:__('Title')}</span>:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        {$row.title}
		</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span>{:__('Username')}</span>:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        {$row.username}
		</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span>{:__('Add_time')}</span>:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
            {:$row.add_time?datetime($row.add_time):''}
		</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span>{:__('Address')}</span>:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        {$row.address}
		</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span>{:__('Mobile')}</span>:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        {$row.mobile}
		</span>
        </div>
    </div>
    {if $row.content}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span>{:__('Content')}</span>:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
		{$row.content}
		</span>
        </div>
    </div>
    {/if}


    {if $row.img}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Img')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        {foreach $row.img as $vo}
				{if $vo}
			    <a href="{$vo}" target="_blank"><img src="{$vo}"></a>
				{/if}
			{/foreach}
		</span>
        </div>
    </div>
    {/if}

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span>{:__('Status')}</span>:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
   {switch $row.status}
    {case 0}未指派{/case}
    {case 1}已指派{/case}
    {case 2}已完成{/case}
    {case 3}已请求{/case}
{/switch}
		</span>
        </div>
    </div>

</form>
