<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        {$row.title}
		</span>
        </div>
    </div>
    <?php if($row['img']) {?>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Img')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        {foreach $row.img as $vo}
				{if $vo}
			    <a href="{$vo}" target="_blank"><img src="{$vo}"></a>
				{/if}
			{/foreach}
		</span>
        </div>
    </div>
    <?php } ?>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8 ">
		<span class="group-text">
        {$row.content}
		</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8 ">
		<span class="group-text">
        {$row.mobile}
		</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8 ">
		<span class="group-text">
        {$row.address}
		</span>
        </div>
    </div>
<?php if($row['status'] >=2) { ?>
    <?php if($log['img']) {?>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Img')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
          {foreach $log.img as $vo}
				{if $vo}
			    <a href="{$vo}" target="_blank"><img src="{$vo}"></a>
				{/if}
			{/foreach}
		</span>
        </div>
    </div>
    <?php }?>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ReplyContent')}:</label>
        <div class="col-xs-12 col-sm-8 ">
		<span class="group-text">
        {$log.reply_content}
		</span>
        </div>
    </div>

    <?php } ?>

    <?php if($row['status'] ==3) { ?>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Appraise')}:</label>
        <div class="col-xs-12 col-sm-8 ">
		<span class="group-text">
        {$log.appraise}
		</span>
        </div>
    </div>

    <?php } ?>









    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
