<form id="adjust-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
	
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"><span>{:__('Name')}</span>:</label>
        <div class="col-xs-4 col-sm-8">
		<span class="group-text">
        {$row.name}
		</span>
        </div>
		<label class="control-label col-xs-3 col-sm-2"><span>{:__('Mobile')}</span>:</label>
        <div class="col-xs-3 col-sm-8">
		<span class="group-text">
		{$row.mobile}
		</span>
        </div>
    </div>

	
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"><span>{:__('SignTime')}</span>:</label>
        <div class="col-xs-4 col-sm-8">
		<span class="group-text">
        {$row.signtime|date="Y-m-d H:i:s",###}
		</span>
        </div>
		<label class="control-label col-xs-3 col-sm-2"><span>{:__('Score')}</span>:</label>
        <div class="col-xs-3 col-sm-8 ">
		<span class="group-text">
        {$row.score}{:__('Fen')}
		</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"><span>{:__('AdjustScore')}</span>:</label>
        <div class="col-xs-8 col-sm-8">
		<div class="input-group">
            <input id="c-score"  class="form-control" name="score" type="number"  value=""  placeholder="0~{$row.total_score}" oninput="if(value > {$row.total_score} || value < 0 ){alert('{:__('Illegal input')}');value = '{$row.score}'}">
			<div class="input-group-addon">{:__('Fen')}</div>
		</div>
		</div>
    </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed ">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

