<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
	
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        {$row.title}
		</span>
        </div>
    </div>
    {if $row.brief}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Brief')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
		{$row.brief}
		</span>
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('AddName')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
		<span class="label label-danger">{$row.adminName}</span>&nbsp;&nbsp;
		<span class="label label-default">{$row.categoryName}</span>&nbsp;&nbsp;
		<span class="label label-info">{$row.areaName}</span>&nbsp;&nbsp;
		<span class="label label-success">{$row.add_time}</span>&nbsp;&nbsp;
		</span>
        </div>
    </div>
  
    {if isset($row.img) && $row.img}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Img')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
        <a href="{$row.img}" target="_blank"><img src="{$row.img}"></a>
		</span>
        </div>
    </div>
    {/if}
    {if isset($row.video_path) && $row.tpe == 4}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Video')}:</label>
        <div class="col-xs-12 col-sm-8">
		<video src="{$row.video_path}" controls="controls" style="width:500px;height:auto;">
					您的浏览器不支持 video 标签。
		</video>
        </div>
    </div>
    {/if}
    {if isset($row.video_path) && $row.tpe == 5}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Video')}:</label>
        <div class="col-xs-12 col-sm-8">
		<script src="http://lib.baomitu.com/chimee-player/1.1.9/chimee-player.browser.js"></script>
		<div id="container"></div>
		<script>
		    new ChimeePlayer({
		        wrapper: '#container',  // video dom容器
		        src: '{$row.video_path}',
		        box: 'hls',
		        isLive: true,
		        autoplay: true,
		        controls: true
		    });
		</script>
        </div>
    </div>
    {/if}
    {if is_array($row.images) && !empty($row.images)}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>
        <div class="col-xs-12 col-sm-8">
		<span class="group-text">
            {foreach $row.images as $img}
				{if $img}
			    <a href="{$img}" target="_blank"><img src="{$img}"></a>
				{/if}
			{/foreach}
		</span>
        </div>
    </div>
    {/if}
    {if isset($row.content)}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8 ">
		<span class="group-text">
        {$row.content}
		</span>
        </div>
    </div>
    {/if}
    <div class="form-group">
    	<label class="control-label col-xs-12 col-sm-2">{:__('IsPass')}:</label>
		<div class="radio col-xs-12 col-sm-8">
		  <label>
		    <input type="radio" name="row[is_check]" id="check1" value="1" checked>
		    {:__('Pass')}
		  </label>
		  <label>
		    <input type="radio" name="row[is_check]" id="check2" value="2">
		    {:__('UnPass')}
		  </label>
		</div>
	</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('UnPassReason')}:</label>
        <div class="col-xs-12 col-sm-8">
        <textarea name="row[check_case]" id="check_case" cols="45" rows="3" style="width:100%;height:200px"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
