<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contracter')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contracter" data-rule="required" class="form-control" name="row[contracter]" type="text" value="{$row.contracter|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Team')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-team" data-rule="required" class="form-control" name="row[team]" type="text" value="{$row.team|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="text" value="{$row.mobile|htmlentities}">
        </div>
    </div>
    <div class="form-group">
    	<label class="control-label col-xs-3 col-sm-2">{:__('Tpe')}:</label>
        <div class="col-xs-3 col-sm-3">
        	<select  id="c-tpe"  class="form-control selectpicker" name="row[tpe]">
                {foreach name="tpe" item="vo"}
                    <option value="{$vo.id}" {in name="vo.id" value="$row.tpe"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-img" class="form-control" size="50" name="row[img]" type="text" value="{$row.img|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-img" class="btn btn-danger plupload cropper" data-input-id="c-img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-img" class="btn btn-primary fachoose" data-input-id="c-img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-contents" class="form-control" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-6 col-sm-2">{:__('Cycle')}:</label>
        <div class="col-xs-6 col-sm-2">
        <div class="input-group">
            <input id="c-cycle" placeholder="{:__('Cycle_tips')}" class="form-control" name="row[cycle]" type="text" value="{$row.cycle|htmlentities}">
            <span class="input-group-addon">{:__('Day')}</span>
        </div>
        </div>
    </div>
    <div class="form-group">
	    <label class="control-label col-xs-12 col-sm-2"><span>{:__('IsAuto')}</span>:</label>
	    <div class="col-xs-12 col-sm-10">
	      <div class="checkbox">
	        <label>
	          <input name="row[is_auto]" type="checkbox" {if $row.is_auto == 1}checked{/if} value="1">
	        </label>
	      </div>
	    </div>
	</div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
