<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

   <input id="c-pid" class="form-control" name="row[pid]" type="hidden" value="{$pid}">
   <input id="c-level" class="form-control" name="row[level]" type="hidden" value="{$level}">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('team')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-team" data-rule="required" class="form-control" name="row[team]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('contracter')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contracter" data-rule="required" class="form-control" name="row[contracter]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="text" value="">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description" class="form-control" name="row[description]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-4 col-sm-3">
            <input id="c-weight" class="form-control" name="row[weight]" type="number" value="0">
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span>{:__('Content')}</span>:</label>
        <div class="col-xs-12 col-sm-8">
        <textarea name="row[content]" id="c-content" cols="50" rows="5" style="width:100%;height:300px"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
